<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=EC2AMAZ-D66FD94;Initial Catalog=TosDb;User ID=devteam;Password=Dev@1234;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>